* {
    padding: 0;
    margin: 0;
}

@import url("../general/general.css");

button {
    /* Убирает все свойства (в том числе рамки, фоны, отступы, шрифты и пр.) */
    all: unset;

    /* Отключаем родное оформление в WebKit/Blink */
    -webkit-appearance: none;
    appearance: none;

    /* Возвращаем display, иначе кнопка станет inline по умолчанию */
    display: inline-block;

    /* Ваша базовая настройка курсора */
    cursor: pointer;

    /* Чтобы при сбросе не слетали размеры шрифта и высота строки */
    font: inherit;
    line-height: inherit;
}
.headMenuBox {
    display: flex;
    background-color: transparent;
    border-bottom: 1px solid var(--theme-theme-stroke);

    &_leftButtonBox {
        display: flex;
    }
    &_buttons {
        flex: 1 1 0;
        min-width: 0;
        display: flex;
        justify-content: space-between;
        overflow-x: hidden;
        box-sizing: border-box;
    }

    &_button {
        padding: 16px 32px;
        font-family: var(--font-family);
        font-weight: 450;
        font-size: 16px;
        line-height: 150%;
        color: var(--theme-heading-foreground);
        border-right: 1px solid var(--theme-theme-stroke);
        &__active {
            border-bottom: 3px solid var(--primary-background);
        }
    }
    &_button__last {
        border-left: 1px solid var(--theme-theme-stroke);
        border-right: none;
    }

    &_svg {
        display: none;
    }
}

@media (max-width: 870px) {
    #myname {
        display: none;
    }
}

@media (max-width: 614px) {
    #myname {
        display: block;
        border-bottom: none;
        width: 100%;
    }
    .content {
        max-width: 100%;
        position: relative;
    }
    .headMenuBox {
        display: flex;
        width: 100%;
        box-sizing: border-box;
        align-items: center;
        &_leftTabs {
            flex-direction: column;
        }
        &_buttons {
            display: none;
            flex-direction: column;
            position: absolute;
            top: 49px;
            width: 100%;
            z-index: 1;
            background-color: var(--theme-theme-background);
        }
        &_button {
            border-bottom: 1px solid var(--theme-theme-stroke);
            box-sizing: border-box;
            padding: 12px 24px;
            width: 100%;
            border-right: none;
        }
        &_leftButtonBox {
            display: flex;
            flex-direction: column;
        }
        &_svg {
            display: block;
            padding: 16px;
            fill: var(--primitive-slate-500);
        }
    }
}
