@import url("../general/general.css");
.contactsBlock {
    &_summaryHead {
        font-family: var(--font-family);
        font-weight: 450;
        font-size: 16px;
        line-height: 150%;
        color: var(--primitive-slate-50);
        border-bottom: 1px solid var(--theme-theme-stroke);
        padding: 12px 12px;
    }

    &_detailsHead {
        cursor: pointer;
        &___borderTop {
            border-top: 1px solid var(--theme-theme-stroke);
        }
    }

    &_headBox {
        padding: 12px;
    }

    &_contacts {
        font-family: var(--font-family);
        font-weight: 450;
        font-size: 16px;
        line-height: 150%;
        color: var(--theme-foreground);
        margin-bottom: 8px;
        cursor: copy;
    }
}

@media (max-width: 835px) {
    .contactsBlock {
        &_summaryHead {
            background-color: var(--primitive-slate-700);
        }
        &_detailsHead {
            margin-top: 4px;
        }
    }
}
