@import url("../general/general.css");

.personalInfoBlock {
    height: 100%;
    &_detailsHead {
        cursor: pointer;
    }
    &_detailsHead__borderTop {
        border-top: 1px solid var(--theme-theme-stroke);
    }
    &_summaryHead {
        font-family: var(--font-family);
        font-weight: 450;
        font-size: 16px;
        line-height: 150%;
        color: var(--primitive-slate-50);
        border-bottom: 1px solid var(--theme-theme-stroke);
        padding: 12px 12px;
    }
    &_headBox {
        padding: 12px 12px;
    }
    &_summary {
        font-family: var(--font-family);
        font-weight: 450;
        font-size: 16px;
        line-height: 150%;
        color: var(--theme-foreground);
        margin-bottom: 8px;
        &__active {
            font-family: var(--font-family);
            font-weight: 450;
            font-size: 16px;
            line-height: 150%;
            color: var(--theme-heading-foreground);
            margin-bottom: 8px;
        }
        &__span {
            padding-left: 12px;
        }
    }
    &_contacts {
        font-family: var(--font-family);
        font-weight: 450;
        font-size: 16px;
        line-height: 150%;
        color: var(--theme-foreground);
        margin-bottom: 8px;
        cursor: copy;
    }
    &_smallBox {
        margin-left: 29px;
    }
    &_elementBox {
        display: flex;
        align-items: center;
    }
    &_svg {
        padding-bottom: 10px;
        margin-right: 10px;
    }
}


.unactive {
    display: none !important;
}

.tabBox {
    border-left: 1px solid var(--theme-theme-stroke);
    max-width: 242px;
    padding: 12px 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &:first-child {
        border-left: none;
    }
    // border-bottom: 1px solid var(--theme-theme-stroke);
    border-right: 1px solid var(--theme-theme-stroke);
    &_text {
        font-family: var(--font-family);
        font-weight: 450;
        font-size: 16px;
        line-height: 150%;
        color: var(--theme-foreground);
        margin-right: 50px;
        cursor: pointer;
        &__active {
            font-family: var(--font-family);
            font-weight: 450;
            font-size: 16px;
            line-height: 150%;
            margin-right: 50px;
            color: var(--theme-heading-foreground);
        }
    }
    &_close {
        cursor: pointer;
    }
}

#svgEducation {
    fill: var(--primitive-indigo-500);
}

#svgIntrests {
    fill: var(--primitive-teal-400);
}

@media (max-width: 835px) {
    .personalInfoBlock {
        &_summaryHead {
            background-color: var(--primitive-slate-700);
        }
    }
}
