.educationBox {
    &_ol {
        list-style-position: inside;
        padding-left: 0;
        counter-reset: edu;
    }
    &_li {
        font-family: var(--font-family);
        font-weight: 450;
        font-size: 18px;
        line-height: 150%;
        color: var(--theme-foreground);
        display: flex;
        align-items: flex-start;
    }
    &_li::before {
        counter-increment: edu;
        content: counter(edu) ".";
        min-width: 40px;
        text-align: right;
        margin-right: 10px;
        display: inline-block;
        color: var(--theme-foreground);
    }
}

@media (max-width: 565px) {
    .educationBox {
        &_li {
            font-family: var(--font-family);
            font-weight: 450;
            font-size: 16px;
            line-height: 150%;
            color: var(--theme-foreground);
        }

        &_li::before {
            content: none;
            counter-increment: none;
            display: none;
        }
    }
}
