@import url("../general/general.css");

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}
body {
    background: var(--theme-theme-background);
    background-repeat: no-repeat;
    background-size: 1067px;
    background-position-x: right;
    background-position-y: center;
    display: flex;
    flex-direction: column;
}

.main {
    display: flex;
    height: 100%;
}

.leftMenuBox {
    height: 100%;
    border-right: 1px solid var(--theme-theme-stroke);
    min-width: 311px;
}

.findMeBox {
    &_box {
        padding: 16px 24px;
        gap: 8px;
    }
    &_summary {
        font-family: var(--font-family);
        font-weight: 450;
        font-size: 16px;
        line-height: 150%;
        color: var(--primitive-slate-50);
        border-bottom: 1px solid var(--theme-theme-stroke);
        padding: 12px 24px;
        cursor: pointer;
    }

    &_link {
        text-decoration: none;
        display: flex;
        align-items: center;
        gap: 8px;
        &__svg {
            fill: var(--primitive-slate-500);
        }
        &__text {
            font-family: var(--font-family);
            font-weight: 450;
            font-size: 16px;
            line-height: 150%;
            color: var(--theme-foreground);
        }
        &:hover &__svg {
            fill: var(--primitive-slate-50);
        }
        &:hover &__text {
            color: var(--theme-heading-foreground);
        }
    }
}

.content {
    display: flex;
    flex-direction: column;
    width: 100%;

    &_emptyBlock {
        height: 48px;
        border-bottom: 1px solid var(--theme-theme-stroke);
    }

    &_contentBlock {
        display: grid;
        grid-template-columns: 1fr 1fr;
        height: 100%;
    }
}

.formBox {
    display: flex;
    padding: 130px;
    border-right: 1px solid var(--theme-theme-stroke);
}

.form {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 100%;

    &_submit {
        border-radius: 8px;
        padding: 10px 12px;
        background: var(--primitive-slate-700);
        font-family: var(--font-family);
        font-weight: 450;
        font-size: 14px;
        line-height: 140%;
        color: var(--primitive-slate-500);
        max-width: 142px;
        text-align: center;
    }
}

.inputBox {
    display: flex;
    flex-direction: column;
    gap: 7px;
    &_text {
        font-family: var(--font-family);
        font-weight: 450;
        font-size: 16px;
        line-height: 150%;
        color: var(--theme-foreground);
    }
    &_input {
        font-family: var(--font-family);
        font-weight: 450;
        font-size: 16px;
        line-height: 150%;
        color: var(--theme-foreground);
        border: 1px solid var(--theme-theme-stroke);
        border-radius: 8px;
        padding: 12px;
        max-width: 360px;
        background: var(--theme-theme-backdrop);
        &:focus {
            border: 1px solid var(--primitive-slate-300);
        }
    }

    &_inputMessage {
        font-family: var(--font-family);
        font-weight: 450;
        font-size: 16px;
        line-height: 150%;
        color: var(--theme-foreground);
        border: 1px solid var(--theme-theme-stroke);
        border-radius: 8px;
        padding: 12px;
        max-width: 372px;
        min-height: 108px;
        background: var(--theme-theme-backdrop);
        white-space: pre-wrap;
        overflow-wrap: break-word;
    }
}

.code {
    margin: 12px;
    margin-left: 82px;
    &_line {
        font-family: var(--font-family);
        font-weight: 450;
        font-size: 18px;
        line-height: 150%;
        text-align: right;
        color: var(--theme-foreground);
        list-style: decimal;
        text-align: left;
        padding-left: 40px;
        &::marker {
            content: counter(list-item) " ";
        }
    }

    &_violet {
        font-family: var(--font-family);
        font-weight: 450;
        font-size: 18px;
        line-height: 150%;
        color: var(--primitive-purple-400);
    }

    &_blue {
        font-family: var(--font-family);
        font-weight: 450;
        font-size: 18px;
        line-height: 150%;
        color: var(--primitive-indigo-500);
    }

    &_orange {
        color: var(--primitive-orange-300);
    }
}
