@import url("../general/general.css");
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: var(--theme-theme-background);
  background-repeat: no-repeat;
  background-size: 1067px;
  background-position-x: right;
  background-position-y: center;
  display: flex;
  flex-direction: column;
}

.selectMenu {
  min-width: 269px;
}

.leftMenu {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 12px;
  max-width: -moz-max-content;
  max-width: max-content;
  border-right: 1px solid var(--theme-theme-stroke);
}

.main {
  display: flex;
  flex: 1 1 auto;
  min-height: 0;
}

.content {
  display: flex;
  flex: 1 1 auto;
  min-height: 0;
  min-width: 0;
}

.selectedContentBox {
  border-left: 1px solid var(--theme-theme-stroke);
  display: grid;
  grid-template-areas: "tabs tabs" "content snippet";
  grid-template-rows: auto 1fr;
  grid-template-columns: 1fr 1fr;
  min-height: 0;
  width: 100%;
}
.selectedContentBox_content {
  flex: 1 1 auto;
  min-height: 0;
  overflow-y: auto;
  padding: 12px 15px;
  grid-area: content;
  overflow-y: auto;
  min-height: 0;
  gap: 0;
  /* For Firefox */
  scrollbar-width: thin;
  scrollbar-color: #62748e transparent;
}
.selectedContentBox_content::-webkit-scrollbar {
  width: 6px;
  background: transparent;
}
.selectedContentBox_content::-webkit-scrollbar-thumb {
  background: #62748e;
  border-radius: 8px;
}
.selectedContentBox_content::-webkit-scrollbar-thumb:hover {
  background: #cad5e2;
}
.selectedContentBox_content::-webkit-scrollbar-track {
  background: transparent;
}
.selectedContentBox_tabs {
  border-bottom: 1px solid var(--theme-theme-stroke);
  min-height: 48px;
  grid-area: tabs;
  display: flex;
}
.selectedContentBox_codeSnippetBox {
  grid-area: snippet;
  border-left: 1px solid var(--theme-theme-stroke);
  padding: 12px 40px;
}
.selectedContentBox_headerText {
  font-family: var(--font-family);
  font-weight: 450;
  font-size: 18px;
  line-height: 150%;
  color: var(--theme-foreground);
}
.selectedContentBox_codesBox {
  margin-top: 64px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

@media (max-width: 1492px) {
  .contentTab {
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
  }
  .selectedContentBox {
    width: 100%;
    grid-template-areas: "tabs tabs" "content content";
  }
  .selectedContentBox_content {
    width: 100%;
    box-sizing: border-box;
  }
  .selectedContentBox_codeSnippetBox {
    display: none;
  }
  .selectedContentBox_tabs {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    box-sizing: border-box;
    width: 100%;
  }
}
@media (max-width: 885px) {
  .main {
    flex-direction: column;
  }
  .leftMenu {
    flex-direction: row;
    max-width: none;
    border-right: none;
    border-bottom: 1px solid var(--theme-theme-stroke);
    width: 100%;
    justify-content: center;
    box-sizing: border-box;
  }
}
@media (max-width: 835px) {
  .content {
    flex-direction: column;
  }
  .leftMenu {
    padding: 8px;
  }
}
@media (max-width: 565px) {
  .selectedContentBox_content {
    padding: 8px 8px;
  }
}/*# sourceMappingURL=style.css.map */