@import url("../general/general.css");
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: var(--theme-theme-background);
  background-repeat: no-repeat;
  background-size: 1067px;
  background-position-x: right;
  background-position-y: center;
  display: flex;
  flex-direction: column;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main {
  display: flex;
  flex: 1 1 auto;
  overflow: hidden;
}

.leftMenuBox {
  height: 100%;
  border-right: 1px solid var(--theme-theme-stroke);
  min-width: 311px;
}
.leftMenuBox_summary {
  font-family: var(--font-family);
  font-weight: 450;
  font-size: 16px;
  line-height: 150%;
  color: var(--primitive-slate-50);
  border-bottom: 1px solid var(--theme-theme-stroke);
  padding: 12px 24px;
  cursor: pointer;
}

.contentBox {
  box-sizing: border-box;
  padding: 64px;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(407px, 1fr));
  width: 100%;
  overflow-y: auto;
}

.projectBox {
  display: flex;
  flex-direction: column;
  max-width: 407px;
}
.projectBox_name {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  color: var(--primitive-indigo-500);
}
.projectBox_image {
  max-width: 407px;
  border: 1px solid var(--primitive-slate-800);
  border-radius: 16px 16px 0 0;
}
.projectBox_descriptionBox {
  border-bottom: 1px solid var(--primitive-slate-800);
  border-left: 1px solid var(--primitive-slate-800);
  border-right: 1px solid var(--primitive-slate-800);
  border-radius: 0 0 16px 16px;
  padding: 32px;
  background: var(--primitive-slate-950);
  display: flex;
  flex-direction: column;
  gap: 21px;
}
.projectBox_description {
  font-family: var(--font-family);
  font-weight: 450;
  font-size: 18px;
  line-height: 150%;
  color: var(--theme-foreground);
}
.projectBox_link {
  text-decoration: none;
  border-radius: 8px;
  padding: 10px 12px;
  background: var(--primitive-slate-600);
  font-family: var(--font-family);
  font-weight: 450;
  font-size: 14px;
  line-height: 140%;
  text-align: center;
  color: var(--theme-heading-foreground);
  max-width: 125px;
}

.projectsSelectBox {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 16px 24px;
}
.projectsSelectBox_label {
  display: flex;
  align-items: center;
  gap: 24px;
  cursor: pointer;
}
.projectsSelectBox_label input[type=checkbox] {
  -moz-appearance: none;
       appearance: none;
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  border: 1px solid var(--primitive-slate-500);
  border-radius: 2px;
  padding: 4px;
  background-color: transparent;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.projectsSelectBox_label input[type=checkbox]:checked {
  background-color: var(--primitive-slate-500);
}
.projectsSelectBox_label input[type=checkbox]::after {
  content: "";
  width: 12px;
  height: 12px;
  background-image: url("data:image/svg+xml;utf8,<svg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M5 7.586L9.596 2.9895L10.3035 3.6965L5 9L1.818 5.818L2.525 5.111L5 7.586Z' fill='%23F8FAFC' /></svg>");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}
.projectsSelectBox_label input[type=checkbox]:checked::after {
  opacity: 1;
}
.projectsSelectBox_span {
  font-family: var(--font-family);
  font-weight: 450;
  font-size: 16px;
  line-height: 150%;
  color: var(--primitive-grey-50);
}

@media (max-width: 845px) {
  .main {
    flex-direction: column;
  }
  .leftMenuBox {
    min-width: 0;
    height: auto;
    border-bottom: 1px solid var(--primitive-slate-800);
  }
  .leftMenuBox_summary {
    background: var(--primitive-slate-700);
  }
  .contentBox {
    padding: 24px;
    justify-items: center;
    align-items: center;
  }
}
@media (max-width: 454px) {
  .projectBox {
    max-width: 291px;
  }
  .contentBox {
    grid-template-columns: repeat(auto-fit, minmax(291px, 1fr));
  }
}
@media (max-width: 454px) {
  .contentBox {
    padding: 10px;
  }
}/*# sourceMappingURL=style.css.map */